#info h3, p, span{
    text-align: center !important;
  }
  
.datos-contacto a{
    padding-left: auto;  
    padding-right: auto;  
    color: #c17397 !important;
}

.fas .fa-phone-square-alt{
    color: #c17397 !important;
}

#info a{
    color: #c17397 !important;
}
#info a:hover{
    color: #f14394 !important;
}


.titles h3, h6{
    font-size: 30px;
    text-align: center !important;
}



#form label{
    width: 100%;

  
}

.input{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #c17397;
    padding-left: 8px;

    &:focus {
        border: none;
    }

    &:active {
        border: none;
    }
}
#form textarea{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #c17397;
    /* text-align: center; */
    /* justify-content: center; */
}

.check input{
    width: auto !important;
}

button{
    padding: 10px 15px;
    background: #c17397;
    color: white;
    border-radius: 10px;
    border: .5px solid #f2f2f2;
}
.form-rolling{
    &:focus {
        border: none;
    }

    &:active {
        border: none;
    }
}